{% extends "layout.html" %}
{% set active_page = "makete" %}

{% block content %}

<section id="main">
    <div class="fourth-main-container center">
      <h1 class="page-title naslov-move">Admin</h1>
      <div class="cont-style">
          <a class="kor-pregled admin-link">
              <div class="pre-elem"><a href="{{url_for('admin.admin_userlist')}}" id="userlistLink" title="Otvorite userlist">USERLIST</a></div>
          </a>
      </div>

      <div class="cont-style">
          <a class="kor-pregled admin-link">
              <div class="pre-elem"><a href="{{url_for('story.display_story_list_validation')}}" id="prihvatpriceLink" title="Otvorite prihvat price">Prihvat price</a></div>
          </a>
      </div>
    </div>
  </section>

{% endblock %}