{% extends "layout.html" %}
{% set active_page = "makete" %}

{% block content %}

<section id="main">
    <div class="fourth-main-container center">
      <div class="cont-style">
          <a class="kor-pregled admin-link">
              <div class="pre-elem">Poveznica 1</div>
          </a>
      </div>

      <div class="cont-style">
          <a class="kor-pregled admin-link">
              <div class="pre-elem">Poveznica 2</div>
          </a>
      </div>

      <div class="cont-style">
          <a class="kor-pregled admin-link">
              <div class="pre-elem">Poveznica 3</div>
          </a>
      </div>
    </div>
  </section>

{% endblock %}