{% extends "layout.html" %}
{% set active_page = "cart" %}

{% block content %}

<section id="main">
	<div class="container">
    <article id="main-col">
      <h1 class="page-title"></h1>
      <ul id="services">
          <a href="makete.html" id="priceLink" title="Otvorite citavu pricu">
              <li>
                  <h3>Standardna maketa 1</h3>
                  <p>Laboris laboris irure sit aliquip eiusmod Lorem eiusmod aliquip cupidatat eiusmod ipsum sit cillum. Irure quis reprehenderit eu in consectetur mollit. Laborum dolor consectetur ea id ea eiusmod consectetur pariatur pariatur reprehenderit labore anim.</p>
                  <h4>Cijena: </h4>
              </li>
          </a>
          <a href="checkout.html"><input type="submit" value="Kupi proizvode" class="btn"></a>
      </ul>
    </article>
	</div>
</section>

{% endblock %}
