{% extends "layout.html" %}
{% set active_page = "price" %}

{% block content %}

<script src="../static/js/cycler.js"></script>
        
<span hidden id="elem-count">{{ elem_len }}</span>

    {% for elem in story_elements %}
        {% if elem.story_text %}
            <span hidden class="text-cycle" id="elem-cycle-{{ loop.index - 1 }}">{{ elem.story_text }}</span>
        {% elif elem.image_name %}
            <span hidden class="img-cycle" id="elem-cycle-{{ loop.index - 1 }}">{{ url_for('story.pull_file', file=elem.image_name) }}</span>
        {% elif elem.video_name %}
            <span hidden class="vid-cycle" id="elem-cycle-{{ loop.index - 1 }}">{{ url_for('story.pull_file', file=elem.video_name) }}</span>
        {% endif %}
    {% endfor %}

    <section id="main">
        <div class="sec-main-container full-story-cont">
            <h1 class="page-title"></h1>
            <p class="naslov-move" id="naslovPrice">{{ story_title }}</p>
            <div class="flex-contain-story">
                <div class="left-arrow" id="elem-arrow-l" onclick="return cycleCaller(0)"></div>
                <div class="flex-element flex-element-tekst js-selector-elem" id="story-control-tekst">
                    <div class="img-prop-holder" id="elem-holdncycle">
                    </div>
                </div>
                <div class="right-arrow" id="elem-arrow-r" onclick="return cycleCaller(1)"></div>
            </div>
        </div>
    </section>

    <div id="divider"></div>

    <div class="flex-container-column">
        <form method="POST" class="ostaviKomentar" id="idKomentar" target="_self">
            <fieldset class="ostaviKomentar ostaviKomentar-fieldset">
                <textarea form="idKomentar" name="objavitiKomentar" placeholder="Upisite komentar"
                    id="komentarText"></textarea>
                <input type="submit" id="submitKom" value="Objavi komentar">
                <input type="reset" id="resetKom" value="Odustani">
            </fieldset>
        </form>
    </div>

    {% for comment in comments %}
    <div>
        <p> {{ comment.author_name }} </p>
        <p> {{ comment.timestamp.strftime('%d.%m.%Y %H:%M') }} </p>
        <p> {{ comment.text }} </p>
    </div>
    {% endfor %}

{% endblock %}
