{% extends "layout.html" %}
{% set active_page = "price" %}

{% block content %}
        
<div class="main-container">
	<p id="naslovPrice"> {{ story_title}} </p>
	<div class="flex-container">
		{% for element in story_elements %}
			{% if element.story_text %}
				<div class="flex-element flex-element-tekst">
					{{ element.story_text }}
				</div>
			{% elif element.image_name %}
				<div class="flex-container-column flex-video-img">
					<img class="flex-element" id="element.image_name" src="{{ url_for('story.pull_file', file=element.image_name) }}">
				</div>
			{% elif element.video_name %}
				<div class="flex-container-column flex-video-img">
					<video class="flex-element" controls>
						<source src="{{ url_for('story.pull_file', file=element.video_name) }}"  type="video/mp4">
					</video>
				</div>
			{% endif %}
		{% endfor %}
	</div>
</div>

<div id="divider"></div>

<div class="flex-container-column">
	<form class="ostaviKomentar" id="idKomentar" target="_self">
		<fieldset class="ostaviKomentar ostaviKomentar-fieldset">
			<textarea form="idKomentar" name="objavitiKomentar" placeholder="Upisite komentar" id="komentarText"></textarea>
			<input type="submit" id="submitKom" value="Objavi komentar">
			<input type="reset" id="resetKom" value="Odustani">
		</fieldset>
	</form>
	<div class="comment">
		<p>Ime korisnika</p>
		<p>Njegov komentar....</p>
	</div>
	<div class="comment">
		<p>Ime korisnika</p>
		<p>Njegov komentar....</p>
	</div>
	<div class="comment">
		<p>Ime korisnika</p>
		<p>Njegov komentar....</p>
	</div>
</div>

{% endblock %}