{% extends "layout.html" %}
{% set active_page = "profile" %}

{% block content %}


<section id="main">
    <div class="main-container container">
        <form class="cont-style" method="POST">
            {{ form.hidden_tag() }}
            <h1 class="kor-page-title">Korisnicki racun</h1>

            <div class="kor-grid">

                <div class="kor-flex-item">
                        {{ form.Ime.label(class="label-ponistavanje") }}
                        {{ form.Ime(id="korisnikIme", placeholder="Upišite vaše ime...", class="kor-input") }}
                </div>
                <div class="flex-container kor-flex-subitem">
                        <div class="flex-container-str-clm">
                            {{ form.Private_Ime.label(class="label-ponistavanje") }}
                            {{ form.Private_Ime(id="privIme", value="privIme") }}
                        </div>
                </div>

                <div class="kor-flex-item">
                    {{ form.Prezime.label(class="label-ponistavanje") }}
                    {{ form.Prezime(id="korisnikPrezime", placeholder="Upisite vaše prezime...", class="kor-input") }}
                </div>
                <div class="flex-container kor-flex-subitem">
                    <div class="flex-container-str-clm">
                        {{ form.Private_Prezime.label(class="label-ponistavanje") }}
                        {{ form.Private_Prezime(id="privPrezime", value="privPrezime") }}
                    </div>
                </div>

                <div class="kor-flex-item">
                    {{ form.Datum_rodenja.label(class="label-ponistavanje") }}
                    {{ form.Datum_rodenja(id="korisnikDatum", class="kor-date", type="date") }}
                </div>
                <div class="flex-container kor-flex-subitem">
                    <div class="flex-container-str-clm">
                        {{ form.Private_Datum.label(class="label-ponistavanje") }}
                        {{ form.Private_Datum(id="privDatum", value="privDatum") }}
                    </div>
                </div>

                <div class="kor-flex-item">
                    {{ form.Zivotopis.label(class="label-ponistavanje") }}
                    {{ form.Zivotopis(id="korisnikBio", placeholder="Upisite vaš zivotopis...", class="kor-text-area") }}
                </div>
                <div class="flex-container kor-flex-subitem">
                    <div class="flex-container-str-clm">
                        {{ form.Private_Zivotopis.label(class="label-ponistavanje") }}
                        {{ form.Private_Zivotopis(id="privZiv", value="privZiv") }}
                    </div>
                </div>

            </div>
                {{ form.submit(class="ctrl-prijedlog mrg-left-42") }}
            <div>

            </div>
        </form>
    </div>
</section>

{% endblock %}