{% extends "layout.html" %}
{% set active_page = "makete" %}

{% block content %}

<div class="regErrMsg"></div>

<form onsubmit="return checkNarudzba()">
	<div class="container sec-main-container">
		<h1>Naruči maketu</h1>
		<label>Opis : </label>   
			<input id="opisMaketa" type="text" placeholder="Opiši maketu" name="text">
		<label>Dimenzije : </label>   
			<input id="dimenzijeMaketa" type="text" placeholder="Unesi dimenzije" name="text">
		<label>Materijal : </label>   
			<input id="materijaliMaketa" type="text" placeholder="Potrebni materijal" name="text">
		<button class="main-button" type="submit">Naruči</button>
	</div>
</form>

{% endblock %}
