{% extends "layout.html" %}
{% set active_page = "makete" %}

{% block content %}

<section id="main">
	<div class="container main-container">
		<article id="main-col">
			<h1 class="page-title"></h1>
			<ul id="services">
				<li>
					<div class="drzacPrijedloga">
						<h3>Narudžba 1</h3>
							<h4>Opis:</h4>
								<div class="grid-ponuda-tekst">Opis makete</div>
							<h4>Dimenzije:</h4>
								<div class="grid-ponuda-tekst">Dimenzije makete</div>
							<h4>Materijal:</h4>
								<div class="grid-ponuda-tekst">Potreban materijal</div>
							<form>
								<label>Cijena: </label>
									<input type="text" placeholder="Cijena izrade" name="text" required>
							</form>
							<button class="main-button" type="submit">Pošalji</button>
					</div>
				</li>
				<li>
					<div class="drzacPrijedloga">
						<h3>Narudžba 2</h3>
							<h4>Opis:</h4>
								<div class="grid-ponuda-tekst">Opis makete</div>
							<h4>Dimenzije:</h4>
								<div class="grid-ponuda-tekst">Dimenzije makete</div>
							<h4>Materijal:</h4>
								<div class="grid-ponuda-tekst">Potreban materijal</div>
							<form>
								<label>Cijena: </label>
									<input type="text" placeholder="Cijena izrade" name="text" required>
							</form>
							<button class="main-button" type="submit">Pošalji</button>
					</div>
				</li>
			</ul>
		</article>
	</div>
</section>

{% endblock %}
