{% extends "layout.html" %}
{% set active_page = "price" %}

{% block content %}

<section id="main">
	<div class="container main-container">
		<article id="main-col">
			<h1 class="page-title"></h1>
			<ul id="services">
				<li>
					<div class="drzacPrijedloga">
						<h3>Priča 1</h3>
						<div class="grid-ponuda">
							<div class="grid-ponuda-tekst">
								Nulla nostrud ullamco officia consectetur et. Ex fugiat cillum minim enim nisi ad aute commodo nostrud. Ad anim voluptate reprehenderit labore. Duis tempor deserunt non irure dolore aliqua do qui commodo. Cupidatat excepteur aliquip consequat aliquip Lorem.
								Ullamco minim mollit est occaecat. Consequat deserunt minim ipsum officia elit. Anim tempor officia culpa eiusmod laboris excepteur ipsum eiusmod aute occaecat consequat. Qui nisi ut labore dolore duis quis nisi. Aliqua ad voluptate sint amet irure labore commodo.
								Aliostrud velit Lorem consequat exercitation nulla. Dolore ad cillum anim aute. Occaecat amet cupidatat commodo adipisicing tempor duis dolor ad pariatur nisi fugiat aliquip consectetur. Reprehenderit est aliquip sit excepteur consequat.
							</div>
							<video class="grid-ponuda-vid" controls>
								<source src="../static/vid/video.mp4" type="video/mp4">
							</video>
							<img class="grid-ponuda-img" src="https://www.njuskalo.hr/image-w920x690/makete/maketa-kuce-hrasta-slika-2664453.jpg">
							<div class="grid-btn grid-ponuda-prihvati" onclick="">Prihvati</div>
							<div class="grid-btn grid-ponuda-odbij" onclick="">Odbij</div>
						</div>
					</div>
				</li>
				<li>
					<div class="drzacPrijedloga">
						<h3>Priča 1</h3>
						<div class="grid-ponuda">
							<div class="grid-ponuda-tekst">
								Nulla nostrud ullamco officia consectetur et. Ex fugiat cillum minim enim nisi ad aute commodo nostrud. Ad anim voluptate reprehenderit labore. Duis tempor deserunt non irure dolore aliqua do qui commodo. Cupidatat excepteur aliquip consequat aliquip Lorem.
								Ullamco minim mollit est occaecat. Consequat deserunt minim ipsum officia elit. Anim tempor officia culpa eiusmod laboris excepteur ipsum eiusmod aute occaecat consequat. Qui nisi ut labore dolore duis quis nisi. Aliqua ad voluptate sint amet irure labore commodo.
								Aliostrud velit Lorem consequat exercitation nulla. Dolore ad cillum anim aute. Occaecat amet cupidatat commodo adipisicing tempor duis dolor ad pariatur nisi fugiat aliquip consectetur. Reprehenderit est aliquip sit excepteur consequat.
							</div>
							<video class="grid-ponuda-vid" controls>
								<source src="../static/vid/video.mp4" type="video/mp4">
							</video>
							<img class="grid-ponuda-img" src="https://www.njuskalo.hr/image-w920x690/makete/maketa-kuce-hrasta-slika-2664453.jpg">
							<div class="grid-btn grid-ponuda-prihvati" onclick="">Prihvati</div>
							<div class="grid-btn grid-ponuda-odbij" onclick="">Odbij</div>
						</div>
					</div>
				</li>
			</ul>
		</article>
	</div>
</section>

{% endblock %}
