{% extends "layout.html" %}
{% set active_page = "price" %}

{% block content %}

<script src="../static/js/cycler.js"></script>

<span hidden id="elem-count">{{ elem_len }}</span>

    {% for elem in story_elements %}
        {% if elem.story_text %}
            <span hidden class="text-cycle" id="elem-cycle-{{ loop.index - 1 }}">{{ elem.story_text }}</span>
        {% elif elem.image_name %}
            <span hidden class="img-cycle" id="elem-cycle-{{ loop.index - 1 }}">{{ url_for('story.pull_file', file=elem.image_name) }}</span>
        {% elif elem.video_name %}
            <span hidden class="vid-cycle" id="elem-cycle-{{ loop.index - 1 }}">{{ url_for('story.pull_file', file=elem.video_name) }}</span>
        {% endif %}
    {% endfor %}


	<section id="main">
		<div class="container main-container">
			<article id="main-col">
				<form class="cont-style" method="POST" target="./prihvat_price_list.html">
						<p class="naslov-move" id="naslovPrice"> Naslov price </p>
						<div class="flex-contain-story">
							<div class="left-arrow" id="elem-arrow-l" onclick="return cycleCaller(0)"></div>
							<div class="flex-element flex-element-tekst js-selector-elem" id="story-control-tekst">
								<div class="img-prop-holder" id="elem-holdncycle">
								</div>
							</div>
							<div class="right-arrow" id="elem-arrow-r" onclick="return cycleCaller(1)"></div>
						</div>
						<div class="flex-acc-rej">
							<input type="submit" value="Prihvati" name="prihvPonudaPric" class="grid-btn grid-ponuda-sing" onclick="return acceptOfferRed()" />
							<input type="submit" value="Odbaci" name="odbPonudaPric" class="grid-btn grid-ponuda-sing" onclick="return rejectOfferRed()" />
						</div>
				</form>
			</article>
		</div>
	</section>

{% endblock %}