{% extends "layout.html" %}
{% set active_page = "price" %}

{% block content %}

<section id="main">
	<div class="container">
		<article id="main-col">
			<h1 class="page-title"></h1>
			<ul id="services">
				<a href="prihvat_price.html" id="priceLink" title="Otvorite citavu pricu">
					<li>
						<h3>Priča 1</h3>
						<p>Kratki opis prve price</p>
					</li>
                </a>
                <a href="prihvat_price.html" id="priceLink" title="Otvorite citavu pricu">
					<li>
						<h3>Priča 2</h3>
						<p>Kratki opis druge price</p>
					</li>
                </a>
                <a href="prihvat_price.html" id="priceLink" title="Otvorite citavu pricu">
					<li>
						<h3>Priča 3</h3>
						<p>Kratki opis trece price</p>
					</li>
				</a>
			</ul>
		</article>
	</div>
</section>
	
{% endblock %}