{% extends "layout.html" %}
{% set active_page = "price" %}

{% block content %}
		
<span class="option-controller">
    <button class="btn-ctrl" name="addText" onclick="addTextField('text');">Add text</button>
    <button class="btn-ctrl" name="addImage" onclick="addTextField('image');">Add image</button>
    <button class="btn-ctrl" name="addVideo" onclick="addTextField('video');">Add video</button>
</span>

<div class="main-container">
    <div class="container">
    <form method="post" enctype="multipart/form-data">
        <label id="naslov-prijedlog">Naslov priče
            <input type="text" name="story-title">
        </label>
        <ol id="InputList"></ol>
        <div class="prijedlog-btn-holder">
            <input class="ctrl-prijedlog" type="submit" name="submit">
            <input type="hidden" name="input-number" id="input-number" value=0>
        </div>
    </form>
  </div>
</div>
<script src="../static/js/story.js"></script>

{% endblock %}