{% extends "layout.html" %}
{% set active_page = "price" %}

{% block content %}
		
<div class="main-container">
	<form method="post">
        <ol id="InputList"></ol>
        <div>
            <input type="submit" name="submit">
        </div>
    </form>
    <span>
        <button name="addText" onclick="addTextField();">Add text</button>
        <button name="addImage">Add image</button>
        <button name="addVideo">Add video</button>
    </span>
</div>
<script src="../static/js/story.js"></script>

{% endblock %}