{% extends "layout.html" %}
{% set active_page = "registracija" %}

{% block content %}
<form onsubmit="return checkPswd()">  
	<div class="container sec-main-container" id="regFormHolder">
		<label>Korisnicko ime : </label>
			<span class="regErrMsg">Korisnicko ime mora biti uneseno</span>   
			<input type="text" placeholder="Unesi korisnicko ime" name="username">    
		<label>E-mail : </label>
			<span class="regErrMsg">E-mail mora biti unesen</span>   
			<input type="text" placeholder="Unesi e-mail" name="email">  
		<label id="lozReg">Lozinka : </label>
			<span class="regErrMsg">Lozinke se ne podudaraju</span>   
			<input id="regPswd" type="password" placeholder="Unesi lozinku" name="password">
		<label>Potvrdi lozinku : </label>   
			<input id="reRegPswd" type="password" placeholder="Ponovno upisite lozinku" name="password">
		<div class="flex-container flex-container-reg">
			{{ form.submit(class="main-button subBtn") }}
			<input class="main-button subBtn" type="reset" onclick="restoreReg()" value="Poništi">
		</div> 
	</div>   
</form>
        
{% endblock %}