{% extends "layout.html" %}
{% set active_page = "prijava" %}

{% block content %}

<form onsubmit="return checkPswd()" method="post" action="">
	{{ form.hidden_tag() }}
	<div class="container sec-main-container">
		{{ form.username.label() }}
			{{ form.username() }}
		{{ form.email.label() }}
			{{ form.email() }}
		{{ form.password.label() }}
			{{ form.password() }}
		{{ form.confirm_password.label() }}
			{{ form.confirm_password() }}
		<div class="flex-container flex-container-reg">
			{{ form.submit(class="main-button subBtn") }}
			<input class="main-button subBtn" type="reset" onclick="restoreReg()" value="Poništi">
		</div> 
	</div>   
</form>
        
{% endblock %}