{% extends "layout.html" %}
{% set active_page = "makete" %}

{% block content %}

<div class="main-container">
    <div class="table-holder table-spacer">
        <table class="w3-table-all w3-centered">
            <thead>
                <tr class="w3-orange">
                    <th>Naziv 1</th>
                    <th>Naziv 2</th>
                    <th>Naziv 3</th>
                    <th>Naziv 4</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Data</td>
                    <td>Data</td>
                    <td>Data</td>
                    <td>Data</td>
                </tr>
                <tr>
                    <td>Data</td>
                    <td>Data</td>
                    <td>Data</td>
                    <td>Data</td>
                </tr>
                <tr>
                    <td>Data</td>
                    <td>Data</td>
                    <td>Data</td>
                    <td>Data</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

{% endblock %}